@import "Lattice/core.scss";
@import "Lattice/grid.scss";
@import "Lattice/forms.scss";
@import "Lattice/buttons.scss";
@import "Lattice/typography.scss";

body {
	background: #F4F4F4;
}
a {
	color: #02ABD6;
	text-decoration: none;
}
a:hover {
	color: #55DDFF;
}
#main-header {
	background-color: #454544;
	max-height: 50px;
	position:relative;
	z-index: 20;
}
.large-text {
	font-size: 24px;
}
	#logo {
		margin-right: 25px;
	}
	#main-header a {
		color: #fff;
		text-decoration:none;
	}
		#main-header a:hover {
			color: #eee;
		}
	#main-search {
		height: 50px;
		margin:0;
	}
	.search input {
		width: 120px;
		height: 25px;
		display: inline;
		margin-top: 10px;
	}
	.search .search.button {
		width: 25px; height: 50px;
		background: url(../images/search-white.png) center center no-repeat;
		text-indent: -9999px;
		border:0;
	}
	#main-navigation li {
		height: 46px;
	}
	#main-navigation a {
		line-height: 46px;
		display: block;
		padding: 0px 25px;
	}
		#main-navigation a:hover {
			background: #3E3E3E;
		}
		#main-navigation .active a {
			border-top: 4px solid #02ABD6;
			background: #333333;
		}
	.horizontal-navigation li {
		display: inline-block;
		margin:0;
	}
	.image-middle img {
		vertical-align: middle;
	}
.position-relative {
	position:relative;
}
.beer-image {
	// background-position: center center;
	// background-size: 400px;
	// background-repeat: no-repeat;
	position: relative;
	// width: 400px;
	// margin-top: -300px;
}
	.beer-image:after {
		position: absolute;
		z-index:10;
		left:0;
		right:0;
		top:0;
		bottom:0;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(244,244,244,0) 0%, rgba(244,244,244,0) 43%, #f4f4f4 100%); /* FF3.6+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(244,244,244,0) 0%, rgba(244,244,244,0) 43%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(244,244,244,0) 0%,rgba(244,244,244,0) 43%, #f4f4f4  100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(244,244,244,0) 0%,rgba(244,244,244,0) 43%, #f4f4f4 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(244,244,244,0) 0%,rgba(244,244,244,0) 43%, #f4f4f4 100%); /* W3C */
		content:'';
	}

#beer-stats, #beer-meta {
	// margin-left: 425px;
}
	.full-average-rating-box {
		width: 75px;
		height: 75px;
		line-height: 75px;
		font-size: 50px;
		text-align: center;
		color: #fff;
		background: #D43131;
	}
	.meta {
		background: #FAFAFA;
		border: 1px solid #ccc;
		padding-top: 25px;
	}
.further-info {
	background: #fff;
	border-bottom: 1px solid #ccc;
	position:relative;
  	z-index: 100;
}

.nav {
  margin: 0;
  padding: 8px;
  list-style: none;

}
	.nav > li {
		display: inline-block;
	}
		.nav > li > a {
		  display: block;
		}
.nav-chrome {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
	border: 1px solid #ccc;

}
.nav-pills > li {
	margin: 0;
  
}
	.nav-pills > li > a {
	  padding: 8px;
	  line-height: 20px;
	  border-radius: 5px;
	  margin: 0 8px 0 0;
	}
	.nav-pills > li.right > a {
		margin-: 0 0 0 8px;

	}
	.nav-pills > li.active > a {
		background: #02ABD6;
		color: #fff;
	}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-content {
  overflow: auto;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}

