footer#main-footer.container.offset-top-by-two
	small 
		a(href='http://github.com/pilsprog/microbrew-it') v. Awesome 
	.right.text-right.copyrights
		&copy; 2013 
		strong.large-text Microbrew.it
		br
		Developed by the guys n' gals of pilsprog