<html>
<head>
</head>
<body>
<form type="POST" action="/beer/add">
	<label for="name">Beer name</label><input type="text" name="name" />
	<label for="style">Beer style</label><input type="text" name="style" />
	<label for="abv">ABV</label><input type="text" name="abv" />
	<label for="origin">Beer origin</label><input type="text" name="origin" />
	<label for="brewery">Brewery</label><input type="text" name="brewery" />

	<button>Submit form</button>
</form>
</body>
</html>
