doctype 5
html(lang='no')
	head
		if(locals.uri)
			script
				window.location='#{uri}';
		include includes/head
	body
		include includes/header
		.container
			
			h1.text-center.offset-top-by-two Add Brewery!
			form
				label(for="name") Name
				input(type="text", name="name", id="name")
				label(for="origin") Country of origin
				input(type="text", name="origin", id="origin")
				label(for="description") Description
				textarea(name="description", id="description")
				label(for="address") Address of brewery
				input(type="text", name="address", id="address").inline

				label(for="lon") lon/lat
				input(type="text", name="lon", id="lon").inline
				input(type="text", name="lat", id="lat").inline
				label(for="website") Website
				input(type="text", name="website", id="website")
				h2 Social media
				.inline-block
					label(for="twitter") Twitter
					input(type="text", name="twitter", id="website").inline
				.inline-block
					label(for="facebook") Facebook
					input(type="text", name="facebook", id="facebook").inline
				.inline-block
					label(for="youtube") Youtube
					input(type="text", name="youtube", id="youtube").inline
				.inline-block
					label(for="Ggoogle+") Google+
					input(type="text", name="google+", id="googleplus").inline

				button.block Submit


		include includes/footer
