doctype 5
html(lang='no')
	head
		if(locals.uri)
			script
				window.location='#{uri}';
		include includes/head
	body
		include includes/header
		.container
			h1.text-center.offset-top-by-two Add Beer!
			| Needs brewery to add beer to
			| TODO: ADD FORM

			form.no-margin
				input#name(name="name",type="text", placeholder="Name of beer", autocomplete="off")

				input#brewery(name="brewery", type="text", placeholder="Brewery", data-source="beerQuery").inline
				input(name="origin", type="text", placeholder="Country of origin").inline
				input(name="abv", type="text", placeholder="ABV in %")
				input(name="ibu", type="text", placeholder="IBU")
				input(name="colour", type="text", placeholder="EBC")
				
				button.right.no-margin Submit

		include includes/footer
