doctype 5
html(lang='no')
	head
		if(locals.uri)
			script
				window.location='#{uri}';
		include includes/head
	body
		include includes/header
		.container
			
			h1.text-center.offset-top-by-two Add Brewry!
			form
				input(type="text", name="name", id="name")
				input(type="text", name="origin", id="origin")
				input(type="text", name="logo", id="logo")
				input(type="text", name="address", id="address").inline
				input(type="text", name="lon", id="lon").inline
				input(type="text", name="lat", id="lat").inline
				input(type="text", name="website", id="website")
				h2 Social media

				input(type="text", name="twitter", id="website").inline
				input(type="text", name="facebook", id="facebook").inline
				input(type="text", name="youtube", id="youtube").inline
				input(type="text", name="google+", id="googleplus").inline

				Name
Country
Origin
Description
Logo/Emblem
Address
Lon/lat
Website
Twitter
Facebook
Youtube
Google+


		include includes/footer
