doctype 5
html(lang='no')
	head
		if(locals.uri)
			script
				window.location='#{uri}';
		include includes/head
	body
		include includes/header
			
		.container
			h1.text-center.offset-top-by-two Create Account
			| Are you ready to dive into beer?

			form.no-margin(action="/add/user")
				label(for="name") Username
				input#name(name="name",type="text", placeholder="Username")
				
				label(for="email") Email
				input#email(name="email",type="email")
				
				label(for="password") Password
				input#password(name="password",type="text")
				label(for="password2") Repeat password
				input#password2(name="password2", type="text")
				
				By registering you agree to our terms of service.
				button.right.no-margin Register User

			
		include includes/footer
