<!DOCTYPE html>
<html lang="no">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Microbrew.it</title>
		<link rel="icon" type="image/png" href="http://localhost/thunemedia.no/wp-content/themes/Thunemedia-theme-3/favicon.png">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" />
	</head>
	<body>
		<header id="main-header" class="header">
			<div class="container">
				<div id="logo" class="logo no-margin no-padding four columns"><img src="/images/microbrewit-small.png" alt="Microbrew.it" /></div>
				<nav id="main-navigation" class="horizontal-navigation no-margin no-padding six columns">
					<ul>
						<li class="active"><a href="">Discover</a></li>
						<li><a href="">Share</a></li>
						<li><a hreF="">Create</a></li>
					</ul>
				</nav>
				<form id="main-search" class="search no-padding four columns">
					<input type="text" class="rounded" placeholder="find beer" />
					<button class="search button">Search</button>
				</form>
				<div id="user-logged-in" class="user image-middle two columns no-padding logged-in right">
					<a href="#user-logged-in"><img src="/images/placeholder-avatar.png" alt="User Name" /> <img src="/images/arrow-down-white.png" alt="" /></a>
					<nav class="hidden sub-navigation">
						<ul>
							<li><a href="">Profile</a></li>
							<li><a href="">Settings</a></li>
							<li><a hreF="">Logout</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<article id="beer" class="beer">
			<header id="beer-header" class="beer-header">
				<div class="container position-relative">
					<div class="beer-image" style="background-image: url(/images/beer/duvel.jpg);"></div>
					<h1>Duvel</h1>
					<div id="beer-stats" class="stats">
						<div class="column">
							<label for="beer-type">Type</label>
							<input class="large no-border" name="beer-origin" placeholder="beer type" />

							<label for="beer-origin">Origin</label>
<!-- brewery
styles
abv
origin
image
bottle
label
comment
description
servingtyp
e
glasstype
ibu
aroma
appearance
mouthfeel
colour
barcode -->

				</div>
			</header>
		</article>
	</body>
</html>