doctype 5
html(lang='no')
	head
		include includes/head
	body
		include includes/header
		
		article#brewery.brewery
			header.brewery-header.container
				h1 #{results.bindings[0].name.value}
					small 
						#{results.bindings[0].breweryURI.value}

		include includes/footer
