doctype 5
html(lang='no')
	head
		include includes/head
	body
		include includes/header
		
		article#brewery.brewery
			header.brewery-header.container
				h1
					| Brewery Headline

		include includes/footer