<!DOCTYPE html>
<html lang="no">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Microbrew.it</title>
		<link rel="icon" type="image/png" href="http://localhost/thunemedia.no/wp-content/themes/Thunemedia-theme-3/favicon.png">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
			<img src="/images/microbrewit.png" alt="Microbrew.it" class="block center" />
			<h1 class="text-center blue-text">beer is coming</h1>

			<form action="/mail" type="GET" class="block eight columns center clear-right join-form">
				<label for="name">Your name</label>
				<input type="text" name="name" placeholder="John Doe" />
				<label for="name">Your email</label>
				<input type="text" name="email" placeholder="john@doe.com" />
				<button class="btn btn-large">mail me on release</button>
			</form>
			<div class="eight columns center">
				<p>Microbrew.it is developed as free open source software by the guys n' gals at <a href="http://pilsprog.no">Pilsprog</a>.</p>
				<a href="http://github.com/pilsprog/microbrew-it" class="block btn btn-large center">GitHub</a>
			</div>
		</div>
	</body>
</html>