!!! 5
html(lang='no')
	head
		include includes/head
	body
		.container
			img.block.center(src='/images/microbrewit.png', alt='Microbrew.it')
			h1.text-center.blue-text beer is coming
			p.text-center Thank you :D
			.eight.columns.center
				p
					| Microbrew.it is developed as free open source software by the guys n' gals at
					a(href='http://pilsprog.no') Pilsprog
					| .
				a.block.btn.btn-large.center(href='http://github.com/pilsprog/microbrew-it') GitHub
