/*
* Lattice v0.5 based on Skeleton v1.2
* Lattice Copyright 2012 Torstein Thune
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 27. oct. 2012
*/
/* Table of Contents
==================================================
    #Reset & Basics
    #Clearing
    #Misc
*/
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* #Misc
================================================== */
.left {
  float: left; }

.center {
  margin: 0 auto !important;
  float: none !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.no-padding {
  padding: 0 !important; }

.no-top-padding {
  padding-top: 0 !important; }

.no-right-padding {
  padding-right: 0 !important; }

.no-bottom-padding {
  padding-bottom: 0 !important; }

.no-left-padding {
  padding-left: 0 !important; }

.standard-padding {
  padding: 25px; }

.standard-top-padding {
  padding-top: 25px; }

.standard-right-padding {
  padding-right: 25px; }

.standard-bottom-padding {
  padding-bottom: 25px; }

.standard-left-padding {
  padding-left: 25px; }

.no-margin {
  margin: 0 !important; }

.no-top-margin {
  margin-top: 0 !important; }

.no-right-margin {
  margin-right: 0 !important; }

.no-bottom-margin {
  margin-bottom: 0 !important; }

.no-left-margin {
  margin-left: 0 !important; }

.standard-margin {
  margin: 25px; }

.standard-top-margin {
  margin-top: 25px; }

.standard-right-margin {
  margin-right: 25px; }

.standard-bottom-margin {
  margin-bottom: 25px; }

.standard-left-margin {
  margin-left: 25px; }

.hidden {
  display: none; }

.block {
  display: block; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block !important;
  float: none !important; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

/* Compatibility
==================================================
    
    The grid is compatible with IE9+, Chrome, Firefox and Opera.
    IE8 renders the base version, but not the responsive ones.

*/
/* Credits
==================================================
    
    Lattice Grid is based on Skeleton by Dave Gamache.
    Skeleton Copyright 2011, Dave Gamache

*/
/* #Base Grid
================================================== */
.container {
  position: relative;
  width: 80%;
  padding: 0;
  margin: 0 auto; }

.container .column,
.container .columns {
  float: left;
  padding: 25px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* Base Grid */
.one.columns, .one.column {
  width: 6.25%; }

.two.columns, .two.column {
  width: 12.5%; }

.three.columns, .three.column {
  width: 18.75%; }

.four.columns, .four.column {
  width: 25%; }

.five.columns, .five.column {
  width: 31.25%; }

.six.columns, .six.column {
  width: 37.5%; }

.seven.columns, .seven.column {
  width: 43.75%; }

.eight.columns, .eight.column {
  width: 50%; }

.nine.columns, .nine.column {
  width: 56.25%; }

.ten.columns, .ten.column {
  width: 62.5%; }

.eleven.columns, .eleven.column {
  width: 68.75%; }

.twelve.columns, .twelve.column {
  width: 75%; }

.thirteen.columns, .thirteen.column {
  width: 81.25%; }

.fourteen.columns, .fourteen.column {
  width: 87.5%; }

.fifteen.columns, .fifteen.column {
  width: 93.75%; }

.sixteen.columns, .sixteen.column {
  width: 100%; }

.one-third.column {
  width: 33.33333%; }

.two-thirds.column {
  width: 66.66667%; }

/* Offsets */
.offset-by-one {
  margin-left: 6.25%; }

.offset-right-by-one {
  margin-right: 6.25%; }

.offset-top-by-one {
  margin-top: 25px; }

.offset-bottom-by-one {
  margin-bottom: 25px; }

.offset-by-two {
  margin-left: 12.5%; }

.offset-right-by-two {
  margin-right: 12.5%; }

.offset-top-by-two {
  margin-top: 50px; }

.offset-bottom-by-two {
  margin-bottom: 50px; }

.offset-by-three {
  margin-left: 18.75%; }

.offset-right-by-three {
  margin-right: 18.75%; }

.offset-top-by-three {
  margin-top: 75px; }

.offset-bottom-by-three {
  margin-bottom: 75px; }

.offset-by-four {
  margin-left: 25%; }

.offset-right-by-four {
  margin-right: 25%; }

.offset-top-by-four {
  margin-top: 100px; }

.offset-bottom-by-four {
  margin-bottom: 100px; }

.offset-by-five {
  margin-left: 31.25%; }

.offset-right-by-five {
  margin-right: 31.25%; }

.offset-top-by-five {
  margin-top: 125px; }

.offset-bottom-by-five {
  margin-bottom: 125px; }

.offset-by-six {
  margin-left: 37.5%; }

.offset-right-by-six {
  margin-right: 37.5%; }

.offset-top-by-six {
  margin-top: 150px; }

.offset-bottom-by-six {
  margin-bottom: 150px; }

.offset-by-seven {
  margin-left: 43.75%; }

.offset-right-by-seven {
  margin-right: 43.75%; }

.offset-top-by-seven {
  margin-top: 175px; }

.offset-bottom-by-seven {
  margin-bottom: 175px; }

.offset-by-eight {
  margin-left: 50%; }

.offset-right-by-eight {
  margin-right: 50%; }

.offset-top-by-eight {
  margin-top: 200px; }

.offset-bottom-by-eight {
  margin-bottom: 200px; }

.offset-by-nine {
  margin-left: 56.25%; }

.offset-right-by-nine {
  margin-right: 56.25%; }

.offset-top-by-nine {
  margin-top: 225px; }

.offset-bottom-by-nine {
  margin-bottom: 225px; }

.offset-by-ten {
  margin-left: 62.5%; }

.offset-right-by-ten {
  margin-right: 62.5%; }

.offset-top-by-ten {
  margin-top: 250px; }

.offset-bottom-by-ten {
  margin-bottom: 250px; }

.offset-by-eleven {
  margin-left: 68.75%; }

.offset-right-by-eleven {
  margin-right: 68.75%; }

.offset-top-by-eleven {
  margin-top: 275px; }

.offset-bottom-by-eleven {
  margin-bottom: 275px; }

.offset-by-twelve {
  margin-left: 75%; }

.offset-right-by-twelve {
  margin-right: 75%; }

.offset-top-by-twelve {
  margin-top: 300px; }

.offset-bottom-by-twelve {
  margin-bottom: 300px; }

.offset-by-thirteen {
  margin-left: 81.25%; }

.offset-right-by-thirteen {
  margin-right: 81.25%; }

.offset-top-by-thirteen {
  margin-top: 325px; }

.offset-bottom-by-thirteen {
  margin-bottom: 325px; }

.offset-by-fourteen {
  margin-left: 87.5%; }

.offset-right-by-fourteen {
  margin-right: 87.5%; }

.offset-top-by-fourteen {
  margin-top: 350px; }

.offset-bottom-by-fourteen {
  margin-bottom: 350px; }

.offset-by-fifteen {
  margin-left: 93.75%; }

.offset-right-by-fifteen {
  margin-right: 93.75%; }

.offset-top-by-fifteen {
  margin-top: 375px; }

.offset-bottom-by-fifteen {
  margin-bottom: 375px; }

.offset-by-sixteen {
  margin-left: 100%; }

.offset-right-by-sixteen {
  margin-right: 100%; }

.offset-top-by-sixteen {
  margin-top: 400px; }

.offset-bottom-by-sixteen {
  margin-bottom: 400px; }

/* #Base Grid
================================================== */
.row {
  margin-bottom: 24px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha {
  padding: 0; }

.column.omega, .columns.omega {
  padding: 0; }

/* #Desktop (>1300px)
================================================== */
@media only screen and (min-width: 1300px) and (max-width: 2599px) {
  .container {
    width: 1120px; } }
/* #Laptop (<1300px)
================================================== */
@media only screen and (min-width: 960px) and (max-width: 1299px) {
  .container {
    width: 980px; } }
/* #Tablet Landscape (<1300px)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 95%; }

  .container .columns,
  .container .column {
    margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 100%;
    box-sizing: border-box; }

  /* box-sizing breaks IE 8 < compatibility */ }
/*  #Mobile (Portrait)
    ================================================== */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%; }

  .container .columns,
  .container .column {
    margin: 0; }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 100%;
    box-sizing: border-box; }

  /* box-sizing breaks IE 8 < compatibility */
  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0; } }
/*
* Lattice v0.5 based on Skeleton v1.2
* Lattice Copyright 2012 Torstein Thune
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 27. oct. 2012
*/
/* Table of Content
==================================================
	#Forms
	*/
/* #Forms
================================================== */
form {
  margin-bottom: 20px; }

fieldset {
  margin-bottom: 20px; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }

select {
  padding: 0; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

textarea {
  min-height: 60px; }

label,
legend {
  display: block;
  font-weight: bold;
  font-size: 13px; }

select {
  width: 220px; }

input[type="checkbox"] {
  display: inline; }

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

/*
* Lattice v0.5 based on Skeleton v1.2
* Lattice Copyright 2012 Torstein Thune
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 27. oct. 2012
*/
/* Table of Content
==================================================
	#Buttons
	*/
/* #Buttons
================================================== */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #eee;
  /* Old browsers */
  background: #eeeeee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: #eeeeee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: #eeeeee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #eeeeee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera11.10+ */
  background: #eeeeee -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: #eeeeee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #222;
  background: #ddd;
  /* Old browsers */
  background: #dddddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */
  background: #dddddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */
  background: #dddddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #dddddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera11.10+ */
  background: #dddddd -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */
  background: #dddddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  /* Old browsers */
  background: #cccccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* FF3.6+ */
  background: #cccccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  /* Chrome,Safari4+ */
  background: #cccccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: #cccccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* Opera11.10+ */
  background: #cccccc -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* IE10+ */
  background: #cccccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  /* W3C */ }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
* Lattice v0.5 based on Skeleton v1.2
* Lattice Copyright 2012 Torstein Thune
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 27. oct. 2012
*/
/* Table of Content
==================================================
	#Basic Styles
	#Typography
	#Links
	#Lists
	#Images
	#Misc */
/* #Basic Styles
================================================== */
body {
  font: 14px/21px "Tahoma", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: Tahoma, serif;
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px; }

h2 {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 6px; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

h5 {
  font-size: 17px;
  line-height: 24px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

.subheader {
  color: #777; }

p {
  margin: 0 0 20px 0; }

p img {
  margin: 0; }

p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777; }

em {
  font-style: italic; }

strong {
  font-weight: bold;
  color: #333; }

small {
  font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic; }

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd; }

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

/* Convenience classes */
.text-center {
  text-align: center; }

/* #Links
================================================== */
p a, p a:visited {
  line-height: inherit; }

h2 a, a h2 {
  text-decoration: none !important; }

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px; }

ul.square {
  list-style: square outside; }

ul.circle {
  list-style: circle outside; }

ul.disc {
  list-style: disc outside; }

ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%; }

ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px; }

li {
  line-height: 18px;
  margin-bottom: 12px; }

ul.large li {
  line-height: 21px; }

li p {
  line-height: 21px; }

/* #Images
================================================== */
img.scale-with-grid, img.responsive {
  width: 100%;
  height: auto;
  display: block; }

body {
  background: #e4e4e4; }

#main-header {
  background-color: #454544;
  max-height: 50px;
  position: relative;
  z-index: 20; }

#logo {
  margin-right: 25px; }

#main-header a {
  color: #fff;
  text-decoration: none; }

#main-header a:hover {
  color: #eee; }

#main-search {
  height: 50px;
  margin: 0; }

.search input {
  width: 120px;
  display: inline;
  margin-top: 10px; }

.search .search.button {
  width: 25px;
  height: 50px;
  background: url(../images/search-white.png) center center no-repeat;
  text-indent: -9999px;
  border: 0; }

#main-navigation li {
  height: 46px; }

#main-navigation a {
  line-height: 46px;
  display: block;
  padding: 0px 25px; }

#main-navigation a:hover {
  background: #3E3E3E; }

#main-navigation .active a {
  border-top: 4px solid #02ABD6;
  background: #333333; }

.horizontal-navigation li {
  display: inline-block;
  margin: 0; }

.image-middle img {
  vertical-align: middle; }

.position-relative {
  position: relative; }

.beer-image {
  background-position: center center;
  background-size: 400px;
  background-repeat: no-repeat;
  width: 400px;
  position: absolute;
  height: 500px;
  top: -50px;
  left: 0; }

.beer-image:after {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(198, 201, 205, 0) 0%, #e4e4e4 100%);
  /* FF3.6+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(198, 201, 205, 0) 0%, #e4e4e4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(198, 201, 205, 0) 0%, rgba(198, 201, 205, 0) 43%, #c6c9cd 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(198, 201, 205, 0) 0%, rgba(198, 201, 205, 0) 43%, #c6c9cd 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(198, 201, 205, 0) 0%, rgba(198, 201, 205, 0) 43%, #c6c9cd 100%);
  /* W3C */
  content: ''; }

#beer-stats {
  margin-left: 400px; }
